button{
    min-width: 210px;
    font-weight: bold;
    font-size: 23px;
    background: #f6949e;
    border-radius: 5px;
    color: #fafafa;
    cursor: pointer;
    border: none;
    border: 3px solid #F6949E;
    margin-left: 2%;
}