.field-building{
    display: block;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}
h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 75px;
    font-style: normal;
}