header{
    display: flex;
    align-items: center;
    margin-top: -25px;
}

.Pigbank{
    font-size: 35px;
    margin-left: 13%;
    margin-right: 35%;
    color: #FB4A4A;
    text-decoration: none;
}

.botao-diferente{
    background: #fafafa;
    color: #f6949e;
    margin-left: 40px;
    margin-right: 30px;
}
