.field{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}
li{
    list-style: none;
}
.retangulo-da-esquerda{
    width: 34%; 
    height: 19px;
    background-color: #5B79F1;
}
.cotacao-texto{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    margin-left: 00px;
    font-size: 50px;
}
.retangulo-da-direita{
    width: 35%;
    height: 19px;
    background-color: #5B79F1;
}