.div1{
    display: flex;
}
nav{
    display: flex;
    height: 50px;
    width: 27%;
    flex-direction: column;
}
.img-porquin{
    width: 550px;
    height: 333px;
    margin-left: 420px;
    right: 0px;
}
nav h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    height: 100px;
    text-align: right;
}
nav p{
    height: 140px;
    width: 490px;
    right: 0px;
    font-family: 'Noto Sans',sans-serif;
    font-size: 22px;
    text-align: right;
    color: #000000;
    opacity: 0.8;

}
.abra-sua-conta{
    width: 180px;
    height: 40px;
    right: 0px;
    align-self: flex-end;
}
.fique{
    margin-top: 800px;
   
}
.retangulo-esquerda{
    
    position: absolute;
    width: 34%; 
    height: 19px;
    left: 0px;
    right: 0px;
    top: 510px;
    background-color: #5B79F1;
    
}
.fique-por-dentro{
    position: absolute;
    width: 70%;
    top: 435px;
    left: 273px;
    font-size: 53px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    text-align: center;
    color: #000000;
   
}
.retangulo-direita{
    position: absolute;
    width: 35%;
    right: 0px;
    height: 19px;
    left: 1237px;
    top: 510px;
    background-color: #5B79F1;
}
.texto-contrario{
    margin-top: -670px;
    margin-left: 85%;
    width: 990px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    font-size: 32px;
    padding-top: 3px;
    right: 0px;
}
.img-pessoas{
    position: absolute;
    width: 644px;
    height: 644px;
    left: 32%;
    top: 62%;
    right: 0px;
}
.img-circulos{
    position: absolute;
    width: 225px;
    height: 245px;
    left: -25px;
    top: 992px;

}
.cotacao-moedas{
    position: absolute;
    top:  122%;
    left: 41%;
    font-size: 30px;
}